.headder{
    text-align: start;
    font-size: 12px;
    font-weight: 600;
}
.spanColor{
    color: #9d9d9d !important;
}
.icon-custom-tree
{
  fill: green;
}
.icon-custom-earth{
    fill: #3b86ff;
  }