.alignLeft{
    text-align: "start";
    font-size: "12px";
    font-weight: 600;
}
.graphSize{
    height: 198px !important;
    width: 190px !important;
    margin-left: 0.5rem;
    padding-top: 1rem;
}
.cardFotter{
    height: 100px;
    background-color: #00832d;
    background-image: linear-gradient(to right,#00832d, #32e083);
    display: flex;
    align-items: end;
    .spancolor{
        color: white;
        font-size: 18px;
        text-align: start;
        a{
            color: white !important;
        }
    }
}
.cardPercent{
    position: absolute;
    top: 8%;
    right: 4%;
    span{
        text-align: start;
    }
}